{% extends "base.html" %}

{% block main %}

<h2>Appointments Data</h2><br>

<div class="mb-3">
    <b>Sort by:</b>
    <a href="{{ url_for('admin.view_appointments', sort='booked') }}" class="btn btn-primary">Show Booked</a>
    <a href="{{ url_for('admin.view_appointments', sort='completed') }}" class="btn btn-success">Show Completed</a>
    <a href="{{ url_for('admin.view_appointments', sort='cancelled') }}" class="btn btn-danger">Show Cancelled</a>
    <a href="{{ url_for('admin.view_appointments') }}" class="btn btn-secondary">Show All</a>
</div>

<table border="solid" class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Booking On</th>
            <th>Status</th>
            <th>Patient</th>
            <th>Reason</th>
            <th>Doctor</th>
            <th>Treatment On</th>
            <th>Treatment</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.id }} </td>
            <td>{{ appointment.appointment_datetime.strftime('%d-%m-%Y') }}</td>
            <td>{{ appointment.status }}</td>
            <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }} </td>
            <td>{{ appointment.reason }}</td>
            <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }} </td>
            <td>
                {% if appointment.treatment %}
                {{ appointment.treatment.created_at.strftime('%d-%m-%Y') }}
                
                {% endif %}
            </td>
            <td>{{ appointment.treatment.prescription }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}