{% extends "base.html" %} 


{% block main %}





<h2>Doctors data</h2><br>

<div class="">
    <a href="{{url_for('admin.register_doctor')}}">Register New Doctor</a><br>
    <br>
    <h4>Search Doctors</h4>
    <form method="get" action="{{ url_for('admin.search_doctors') }}">
        <input type="text" name="search" placeholder="Search by name or specialization" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% if results %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.first_name }} {{ result.last_name }}</td>
                <td>{{ result.qualification }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No doctors found.</p>
    {% endif %}

    <h2>Doctors Table</h2>
    <table border="solid">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Qualification</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Registered at</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.first_name }} {{ doctor.last_name }}</td>
                <td>{{ doctor.qualification }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.contact_number }}</td>
                <td>{{ doctor.created_at.strftime('%d %b %Y, %I:%M %p') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.update_doctor', id=doctor.id) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for('admin.delete_doctor', id=doctor.id) }}">Delete</a>
                </td>
            </tr>.
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
