<h1>Patient Dashboard</h1>
<div class="mb-3"><h3>Welcome {{current_user.first_name}} {{current_user.last_name}}, Address: {{current_user.address}}</h3></div>

<h3>Upcoming Appointments</h3>
<ul>
  {% for appt in upcoming %}
    <li>{{ appt.appointment_datetime.strftime('%d %b %Y, %I:%M %p') }} with Dr. {{ appt.doctor.first_name }}
      <form method="POST" action="{{ url_for('patient.cancel_appointment', id=appt.id) }}">
        <button type="submit">Cancel</button>
      </form>
    </li>
  {% else %}
    <li>No upcoming appointments.</li>
  {% endfor %}
</ul>

<h3>Past Appointments</h3>
<ul>
  {% for appt in past %}
    <li>{{ appt.appointment_datetime.strftime('%d %b %Y, %I:%M %p') }} — {{ appt.status }}
      {% if appt.status == 'Completed' %}
      <a href="{{ url_for('patient.view_treatment', id=appt.id) }}"> View</a>
      {% endif %}
    </li>
  {% else %}
    <li>No past appointments.</li>
  {% endfor %}
</ul>
<a href="{{url_for('patient.find_doctors')}}">Find Doctor</a><br>

<nav>
    <a href="{{ url_for('patient.update_profile') }}">Update Profile</a><br>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
</nav>

<h2>Dashboard Statistics</h2>
<img src="data:image/png;base64,{{ chart }}" class="img-fluid rounded shadow-sm">


