{% extends "base.html" %} 


{% block main %}


<h2>Patient Dashboard</h2><br>

<h3>Upcoming Appointments</h3>
<ul>
  {% for appt in upcoming %}
    <li>{{ appt.appointment_datetime.strftime('%d %b %Y, %I:%M %p') }} with Dr. {{ appt.doctor.first_name }}
      <form method="POST" action="{{ url_for('patient.cancel_appointment', id=appt.id) }}">
        <button class="btn btn-danger" type="submit">Cancel</button>
      </form>
    </li>
  {% else %}
    <li>No upcoming appointments.</li>
  {% endfor %}
</ul>

<h3>Past Appointments</h3>
<ul>
  {% for appt in past %}
    <li>{{ appt.appointment_datetime.strftime('%d %b %Y, %I:%M %p') }} with Dr. {{ appt.doctor.first_name }} — {{ appt.status }}
      {% if appt.status == 'Completed' %}
      <a class="btn btn-primary" href="{{ url_for('patient.view_treatment', id=appt.id) }}"> View</a>
      {% endif %}
    </li>
  {% else %}
    <li>No past appointments.</li>
  {% endfor %}
</ul>

{% endblock %}
