<h1>Find Doctors</h1>

<form method="GET">
  <input type="text" name="search" placeholder="Search by name or specialization" value="{{ query }}">
  <button type="submit">Search</button>
</form>

<ul>
  {% for doctor in doctors %}
    <li>Dr. {{ doctor.first_name }} {{ doctor.last_name }}, {{ doctor.qualification }}, Specialist of {{doctor.specialization.name}}({{doctor.specialization.description}})
      <a href="{{ url_for('patient.book_appointment', doctor_id=doctor.id) }}">Book</a>
    </li>
  {% else %}
    <li>No doctors found.</li>
  {% endfor %}
</ul>