{% extends "base.html" %} 


{% block main %}

<h2>Patients Data</h2><br>

<div class="">
    <h4>Search Patients</h4>
    <form method="get" action="{{ url_for('admin.search_patients') }}">
        <input type="text" name="search" placeholder="Search by name or email" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% if results %}
  <table border="solid">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Registered at</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in results %}
            <tr>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td> {{ patient.email }} </td>
                <td> {{ patient.contact_number }} </td>
                <td> {{ patient.created_at.strftime('%d %b %Y, %I:%M %p') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.update_patient', id=patient.id) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for('admin.delete_patient', id=patient.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No patients found.</p>
    {% endif %}

    <h2>All Patients</h2>
    <table border="solid">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Registered at</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
                <td> {{ patient.email }} </td>
                <td> {{ patient.contact_number }} </td>
                <td> {{ patient.created_at.strftime('%d %b %Y, %I:%M %p') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.update_patient', id=patient.id) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for('admin.delete_patient', id=patient.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
