{% extends "base.html" %}


{% block main %}





<div class="container mt-5">
  <h2 >Admin Dashboard</h2><br>

  <div class="row text-center mb-4">
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <h5>Total Doctors</h5>
        <h3>{{ total_doctors }}</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm p-3">
        <h5>Total Patients</h5>
        <h3>{{ total_patients }}</h3>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 text-center">
      <h5>Appointment Status</h5>
      <img src="data:image/png;base64,{{ appointment_chart }}" class="img-fluid shadow-sm rounded">
    </div>
    <div class="col-md-4 text-center">
      <h5>Patient Age Distribution</h5>
      <img src="data:image/png;base64,{{ age_chart }}" class="img-fluid shadow-sm rounded">
    </div>
    <div class="col-md-4 text-center">
      <h5>Doctors per Specialization</h5>
      <img src="data:image/png;base64,{{ spec_chart }}" class="img-fluid shadow-sm rounded">
    </div>
  </div>

</div>

{% endblock %}