<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div>
        <h2>Login Page</h2>
        <p>Please enter your details to access your account.</p>
        <form action="{{url_for('auth.login')}}" method="post">
            <div>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div>
            <p>Don't have an Patient account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
        </div>
</body>

</html>